@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1-px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: bold;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: coral;
}
#projects h1 span{
    color: coral;
}
#projects h2 span{
    color: coral;
}
/* me section */
#me h1{
    color: white;
    font-weight: bold;
}
#me{
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#me::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#me .me {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#me h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: solid black;
    /* animation: text_reveal .5s ease forward;
    animation-delay: 1.5s; */
}
#me h1:nth-child(1){
    animation-delay: 1.5s;
}
#me h1:nth-child(2){
    animation-delay: 2.5s;
}
#me h1:nth-child(3){
    animation: text_reveal_name .5 ease forwards;
    animation-delay: 3.5s;
}
#me h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: coral;
    /* animation: text_reveal_box is ease;
    animation-delay: 1s; */
}
/* #me h1:nth-child(1) span{
    animation-delay: 1s;
}
#me h1:nth-child(2) span{
    animation-delay: 2s;
}
#me h1:nth-child(3) span{
    animation-delay: 3s;
} */
#me .cta{
    display: inline-block;
    padding:10px 30px;
    color:coral;
    background-color: transparent;
    border: 2px solid coral;
    font-size: 2rem;
    font-weight: 800rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: backgrouns-color, color;
}
#me .cta:hover{
    color:black;
    background-color: coral;
}
/* end me section here */

/* service section */
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .section-title{
    font-size: 4rem;
    font-weight: 800;
    color: solid black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
}
#services .section-title span{
    color: coral;
}
#services .services-top p {
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2rem;
    font-weight: 400px;
    letter-spacing: 0.05rem;
}
#services .services-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .services-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 13px;
    background-image: url(./img/newyork.png);
    background-size: cover;
    margin: 5px 2%;
    position: relative;
    z-index: 1;
}
#services{
    background-color: rgb(142, 97, 97);
}
#services .services-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black solid;
    opacity: 0.5;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}
#services .services-item h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .services-item p{
    color: black;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .services-top .section-title {
    transition: .3s ease transform;
}
#services .services-top:hover .section-title{
    transform: scale(1.1);
}
/* end service section */

/* project section */
#projects{
    background-color: rgb(78, 105, 105);
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(166, 224, 206);
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 800;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
}
#projects .project-info p{
    color:rgb(11, 0, 0);
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
#projects .project-header .section-title {
    transition: .3s ease transform;
}
#projects .project-header:hover .section-title{
    transform: scale(1.1);
}
/* end project section */

/* end service section here */
/* about section */
#about{
    background-color: rgb(108, 95, 95);
}
#about .about{
    flex-direction: flex;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .about-img img{
    border-top-right-radius: 20px;
    height: 400px;
    width: 300px;
}
#about .col-left:hover .about-img img{
    transform: scale(1.1);
}
#about .about-img img{
    transition: .3s ease transform;
}
#about .col-right:hover h1{
    transform: scale(1.1);
}
#about .col-right h1{
    transition: .3s ease transform;
}
#about .col-right{
    font-size: 2rem;
    font-weight: 600px;
    letter-spacing: .4rem;
    margin-bottom: 10px;
}
#about a span{
    color: coral;
}
.btn{
    display: inline-block;
    padding:10px 10px;
    /* color:coral; */
    background-color: transparent;
    border: 2px solid coral;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: backgrouns-color, color;
    font-weight: 800;
}
.btn:hover{
    color:black;
    background-color: coral;
}
/* #about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px;
    border-color: black;
    z-index: -1;
} */
/* end about section */

/* contact section */
#contact{
    background-color: rgb(109, 79, 43);
}
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .section-title{
    font-size: 4rem;
    font-weight: 800;
    color: solid black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
}
#contact .contact-items{
    width:100%;
}
#contact .contact-item{
    width:80%;
    padding:20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px rgb(217, 139, 111);
}
#contact .icon{
    width: 40px;
    margin: 0;
    margin-bottom: 10px;
}
#contact:hover h1{
    transform: scale(1.1);
}
#contact h1{
    transition: .3s ease transform;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2rem;
}
#contact span p{
    color: coral;
}
#contact:hover p{
    transform: scale(1.1);
    font-weight: 800;
    color: coral;
}
#contact p{
    transition: .3s ease transform;
    color: black;
    font-weight: bold;
}
/* end contact section here */
/* footer section */
/* #footer {
    background-color: rgb(224, 144, 115);
}
#footer .brand:hover h1{
    transform: scale(1.1);
}
#footer h1{
    transition: .3s ease transform;
}
#footer p span{
    color:white;
} */
/* end footer sextion */




/* keyframes
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width:0;
        left: 100%;
    }
} */
@keyframes text_reveal_name {
    100%{
        color: coral;
        font-weight: 500px;
    }
}